<!DOCTYPE html>
<html lang="en">

<head>
  <title>BlockChain</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- User stylesheet -->
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="navbar.css">
  <!-- font links -->
  <link href="https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans:300,400|Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <!-- font-awesome cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
  <!-- navbar start -->
  <div class="navbar-container">
    <ul>
      <li id="navbar-head">
        <p>
          <a href="/home">Blogchain</a>
        </p>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-wrench fa-lg" aria-hidden="true"></i>
        </span>
        <p>
          <a href="">Blockchain 101</a>
        </p>
        <div class="sub_menu">
          <ul>
            <li class="submenu-header">
              <a href="/bitcoin">Bitcoin</a>
            </li>
            <li>
              <a href="">What is Bitcoin?</a>
            </li>
            <li>
              <a href="">How does mining work ?</a>
            </li>
            <li>
              <a href="">What is distributed ledger ?</a>
            </li>
            <li>
              <a href="">Why use blockchain ?</a>
            </li>
          </ul>
          <div class="divider">
            <div></div>
          </div>
          <ul>
            <li class="submenu-header">
              <a href="/blockchain">Blockchain</a>
            </li>
            <li>
              <a href="">What is Blockchain tech ?</a>
            </li>
            <li>
              <a href="/blockchain#info">How does blockchain work ?</a>
            </li>
            <li>
              <a href="">What can Blockhcain do ?</a>
            </li>
            <li>
              <a href="">Why use blockchain ?</a>
            </li>
          </ul>
          <div class="divider">
            <div></div>
          </div>
          <ul>
            <li class="submenu-header">
              <a href="/Ethereum">Ethereum</a>
            </li>
            <li>
              <a href="">What is Ethereum ?</a>
            </li>
            <li>
              <a href="/ethereum#info">How does it work ?</a>
            </li>
            <li>
              <a href="">Ethereum explained to decetralize apps</a>
            </li>
            <li>
              <a href="">How do smart contacts work ?</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-btc fa-lg" aria-hidden="true"></i>
        </span>
        <p>
          <a href="">News Library</a>
        </p>
        <div class="sub_menu">
          <ul>
            <li>
              <a href="">ICOs</a>
            </li>
            <li>
              <a href="">Altcoin</a>
            </li>
            <li>
              <a href="">Around the globe</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
        </span>
        <p>
          <a href="">Interactive Learning</a>
        </p>
        <div class="sub_menu">
          <ul>
            <li><a href="">item 1</a></li>
            <li><a href="">item 2</a></li>
            <li><a href="">item 3</a></li>
          </ul>
        </div>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-usd fa-lg" aria-hidden="true"></i>
        </span>
        <p>
          <a href="#coin-index">Price Index</a>
        </p>
      </li>
      <li>
        <span>
          <i class="fa fa-money fa-lg">

          </i>
        </span>
        <p>
          Blog and Earn
        </p>
      </li>
    </ul>
  </div>
  <!-- navbar end -->