<!DOCTYPE html>
<html lang="en">

<head>
  <title>BlockChain</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- User stylesheet -->
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="navbar.css">
  <!-- font links -->
  <link href="https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans:300,400|Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <!-- font-awesome cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
  <!-- navbar start -->
  <div class="navbar-container">
    <ul>
      <li id="navbar-head">
        <p><a href="/home">Blogchain</a></p>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-wrench fa-lg" aria-hidden="true"></i>
        </span>
        <p>
          <a href="">Blockchain Tech</a>
        </p>
        <div class="sub_menu">
          <ul>
            <li class="submenu-header">
              <a href="/bitcoin">Bitcoin</a>
            </li>
            <li>
              <a href="">What is Bitcoin?</a>
            </li>
            <li>
              <a href="">How does mining work ?</a>
            </li>
            <li>
              <a href="">What is distributed ledger ?</a>
            </li>
            <li>
              <a href="">Why use blockchain ?</a>
            </li>
          </ul>
          <div class="divider">
            <div></div>
          </div>
          <ul>
            <li class="submenu-header">
              <a href="/blockchain">Blockchain</a>
            </li>
            <li>
              <a href="">What is Blockchain tech ?</a>
            </li>
            <li>
              <a href="">How does blockchain work ?</a>
            </li>
            <li>
              <a href="">What can Blockhcain do ?</a>
            </li>
            <li>
              <a href="">Why use blockchain ?</a>
            </li>
          </ul>
          <div class="divider">
            <div></div>
          </div>
          <ul>
            <li class="submenu-header">
              <a href="/etherium">Etherium</a>
            </li>
            <li>
              <a href="">What is Etherium ?</a>
            </li>
            <li>
              <a href="">How do i use Etherium ?</a>
            </li>
            <li>
              <a href="">Etherium explained to decetralize apps</a>
            </li>
            <li>
              <a href="">How do smart contacts work ?</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-btc fa-lg" aria-hidden="true"></i>
        </span>
        <p>
          <a href="">Cryptocurrency News</a>
        </p>
        <div class="sub_menu">
          <ul>
            <li>
              <a href="">Bitcoin later updates</a>
            </li>
            <li>
              <a href="">Etherium later updates</a>
            </li>
            <li>
              <a href="">initial coin offering updates</a>
            </li>
            <li>
              <a href="">How do smart contact work ?</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
        </span>
        <p>
          <a href="">Buisness</a>
        </p>
        <div class="sub_menu">
          <ul>
            <li>Payments</li>
            <li>Finance</li>
            <li>Banking</li>
            <li>Supply Chain</li>
            <li>Healthcare</li>
            <li>Energy</li>
            <li>Internet of things</li>
            <li>Startups</li>
          </ul>
          <div class="divider">
            <div></div>
          </div>
          <ul>
            <li>Head</li>
            <li>Regulations</li>
            <li>Tax</li>
            <li>Crime</li>
          </ul>
        </div>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-usd fa-lg" aria-hidden="true"></i>
        </span>
        <p>
          <a href="#coin-index">Price Index</a>
        </p>
      </li>
    </ul>
  </div>
  <!-- navbar end -->
