<!DOCTYPE html>
<html lang="en">

<head>
  <title>BlockChain</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- User stylesheet -->
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="navbar.css">
  <!-- font links -->
  <link href="https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans:300,400|Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <!-- font-awesome cdn -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
</head>

<body>
  <!-- navbar start -->
  <div class="navbar-container">
    <ul>
      <li id="navbar-head">
        <p>Brand</p>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-wrench fa-2x" aria-hidden="true"></i>          
        </span>
        <p>Blockchain Tech</p>
        <div class="sub_menu">
          <ul>
            <li class="submenu-header">Bitcoin</li>
            <li>What is Bitcoin?</li>
            <li>How does mining work ?</li>
            <li>What is distributed ledger ?</li>
            <li>Why use blockchain ?</li>
          </ul>
          <div class="divider">
            <div></div>
          </div>
          <ul>
            <li class="submenu-header">Blockchain</li>
            <li>What is Blockchain tech ?</li>
            <li>How does blockchain work ?</li>
            <li>What can Blockhcain do ?</li>
            <li>Why use blockchain ?</li>
          </ul>
          <div class="divider">
            <div></div>
          </div>
          <ul>
            <li class="submenu-header">Etherium</li>
            <li>What is Etherium ?</li>
            <li>How do i use Etherium ?</li>
            <li>Etherium explained to decetralize apps</li>
            <li>How do smart contacts work ?</li>
          </ul>
        </div>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-btc fa-2x" aria-hidden="true"></i>
        </span>
        <p>Cryptocurrency News</p>
        <div class="sub_menu">
          <ul>
            <li>Bitcoin later updates</li>
            <li>Etherium later updates</li>
            <li>initial coin offering updates</li>
            <li>How do smart contact work ?</li>
          </ul>
        </div>
      </li>
      <li>
        <span class="icon">
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
        </span>
        <p>Buisness</p>
        <div class="sub_menu">
          <ul>
            <li>Payments</li>
            <li>Finance</li>
            <li>Banking</li>
            <li>Supply Chain</li>
            <li>Healthcare</li>
            <li>Energy</li>
            <li>Internet of things</li>
            <li>Startups</li>
          </ul>
          <div class="divider">
            <div></div>
          </div>
          <ul>
            <li>Head</li>
            <li>Regulations</li>
            <li>Tax</li>
            <li>Crime</li>
          </ul>
        </div>
      </li>
      <li>
        <span class="icon">
            <i class="fa fa-usd fa-2x" aria-hidden="true"></i>            
        </span>
        <p><a href="#coin-index">Price Index</a></p>
      </li>
    </ul>
  </div>
  <!-- navbar end -->