<% include partials/header %>

  <div class="landing-container" style="background: url(&quot;Text Matter/104768407-4ED2-REQ-101217-BitcoinChina.600x400.jpg&quot;);background-size: cover;
  background-repeat: no-repeat">
    <h1>Bitcoin</h1>
    <p>
      Bitcoin is a form of digital currency, created and held electronically. No one controls it. Bitcoins aren’t printed, like dollars or euros – they’re produced by people, and increasingly businesses, running computers all around the world, using software that solves mathematical problems
    </p>
  </div>

  <div class="container-div">
    <div class="bar"></div>
    <h1>How does Bitcoin mining work ?</h1>
    <p></p>
  </div>

  <div class="container-div" id="info">
    <h1>How does Bitcoin transactions work ?</h1>
    <img src="How-blockchain-technology-actually-works.png" alt="blockchain-working-infographic" class="infographic">
  </div>
<% include partials/footer %>
