<% include partials/header %>

  <div class="landing-container" style="background: url(&quot;Text Matter/infographics/blockchain-infographic_2015.jpg&quot;);background-size: cover;
  background-repeat: no-repeat">
    <h1>Blockchain</h1>
    <p>
      Bitcoin is a form of digital currency, created and held electronically. No one controls it. Bitcoins aren’t printed, like dollars or euros – they’re produced by people,running computers all around the world, using software that solves mathematical problems
    </p>
  </div>

  <div class="container-div">
    <div class="bar"></div>
    <h1>How does it work ?</h1>
    <img src="Blockchain-Usecases-and-Startups.png" alt="blockchain-working-infographic" class="infographic">
  </div>
<% include partials/footer %>
