<% include partials/header %>

  <div class="landing-container" style="background: url(&quot;Text Matter/Ethereum/ethereum-price-fb.jpg&quot;);background-size: cover;
  background-repeat: no-repeat">
    <h1>Etherium</h1>
    <p>
      Bitcoin is a form of digital currency, created and held electronically. No one controls it. Bitcoins aren’t printed, like
      dollars or euros – they’re produced by people,running computers all around the world,
      using software that solves mathematical problems
      </p>
  </div>

  <div class="container-div">
    <div class="bar"></div>
    <h1>What is Etherium?</h1>
    <p></p>
  </div>

  <div class="container-div" id="info">
    <h1>How does it work ?</h1>
    <hr>
    <p>
      Ethereum aims to abstract away bitcoin's design, however, so that developers can createapplications or agreements that
      have additional steps, new rules of ownership, alternative transaction formats or different ways to transfer state.
      The goal of ethereum's 'Turing-complete' programming language is to allow developers to write more programs in which blockchain
      transactions could govern and automate specific outcomes.
    </p>
    <h1>The Etherium Blockchain</h1>
    <hr>
    <p>
      The structure of the ethereum blockchain is very similar to bitcoin's, in that it is a shared record of the entire transaction
      history. Every node on the network stores a copy of this history.
      <br> 
      The big difference with ethereum is that its nodes store the most recent state of each smart contract, in addition
      to all of the ether transactions.
      <br> 
      For each ethereum application, the network needs to keep track of the 'state', or the current information of all of
      these applications, including each user's balance, all the smart contract code and where it's all stored.
    </p>
  </div>
  <% include partials/footer %>