<% include partials/header %>

  <div class="discussion-tab" id="discussion">
    <h4>Discussion</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptate impedit delectus ad totam neque id sequi
      odio, quod dolorum!</p>
  </div>
  <div class="landing-container">
    <h1>Welcome!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At accusamus nisi nemo veritatis, beatae nulla?</p>
  </div>
  <div class="container-div">
    <div class="bar"></div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ratione veritatis fugiat necessitatibus assumenda nemo
      nulla distinctio nisi eos corporis?
    </p>
    <a href="#">Learn More</a>
  </div>
  <div class="coin-index" id="coin-index">
    <div class="index" id="bitcoin">
      <h1>Bitcoin</h1>
      <img src="https://www.google.com/finance/chart?q=CURRENCY:BTCINR&tkr=1&p=5Y&chst=vkc&chs=267x94&chsc=1&ei=Mr4ZWveeMsnNvgSMzJb4Bw"
        alt="bitcoin-graph">
    </div>
    <div class="index" id="etherium">
      <h1>Etherium</h1>
    </div>
    <div class="index" id="altcoin">
      <h1>LiteCoin</h1>
    </div>
  </div>
  <div class="container-div" id="info">
    <h1>Home</h1>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quae maxime, officia eum distinctio quis deserunt
      atque, quibusdam vitae repellat cupiditate quam ipsa, obcaecati iure illum. Soluta tenetur accusantium numquam?</p>
  </div>
  <div class="image-container">
    <div class="image">
      <h1>Heading 1</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing.
      </p>
    </div>
    <div class="image">
      <h1>Heading 2</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing.
      </p>
    </div>
    <div class="image">
      <h1>Heading 3</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing.
      </p>
    </div>
  </div>

<% include partials/footer %>