<% include partials/header %>

  <div class="landing-container">
      <div class="member-container">
        <img class="member-image" src="member_image.png">
        <p class="member-name">
          Name
        </p>
      </div>
      <div class="member-container">
        <img class="member-image" src="member_image.png">
        <p class="member-name">
          Name
        </p>
      </div>
      <div class="member-container">
        <img class="member-image" src="member_image.png">
        <p class="member-name">
          Name
        </p>
      </div>
  </div>

  <% include partials/footer %>