html {
  height: 100%; }

* {
  box-sizing: border-box; }

body {
  min-height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  color: white;
  font-size: 16px; }

.discussion-tab {
  text-align: center;
  position: fixed;
  width: 20%;
  height: 7%;
  padding: 6px;
  bottom: -100%;
  right: 3%;
  border-left: 2px solid #f2dd2a;
  border-right: 2px solid #f2dd2a;
  border-top: 2px solid #f2dd2a;
  z-index: 5;
  background: #1a1919;
  transition: 0.4s linear, bottom 0.7s ease-in; }
  .discussion-tab h4 {
    margin: 0; }
  .discussion-tab p {
    opacity: 0; }

.animate {
  bottom: 0; }

.pullup {
  height: 30%; }
  .pullup p {
    opacity: 1; }

@keyframes slide-in-left {
  from {
    display: block;
    left: -30%; }
  to {
    left: 0; } }
@keyframes slide-in-right {
  from {
    left: 30%; }
  to {
    left: 0; } }
@keyframes slide-down {
  from {
    top: -30%; }
  to {
    top: 0; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.slide-down {
  animation: fade-in 0.7s linear, slide-down 0.5s linear;
  animation-delay: 0.8s;
  animation-fill-mode: forwards; }

.slidel {
  animation: slide-in-left 0.5s linear, fade-in 0.7s linear;
  animation-delay: 0.3s;
  animation-fill-mode: forwards; }

.slider {
  animation: fade-in 1s linear, slide-in-right 0.5s linear;
  animation-delay: 0.3s;
  animation-fill-mode: forwards; }

.landing-container {
  height: 90vh;
  position: relative;
  width: 100%;
  padding: 5%;
  color: white;
  background: url("Front head image/Front head image/blockchain-Digital-Transformation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 4px black; }
  .landing-container > h1 {
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    position: relative;
    z-index: 2;
    font-weight: 300;
    margin-top: 6%;
    margin-bottom: 3%;
    display: block;
    left: -60%;
    opacity: 0; }
  .landing-container > p {
    display: block;
    position: relative;
    opacity: 0;
    left: 20%;
    z-index: 2;
    font-size: 30px;
    font-weight: 200;
    width: 60%;
    white-space: normal; }
  .landing-container:before {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(bottom, #1a1919, rgba(25, 25, 25, 0.2)); }
  .landing-container > .member-container {
    width: 20%;
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-top: 5%;
    margin-left: 4%;
    top: -100%;
    overflow: hidden;
    display: none; }
    .landing-container > .member-container > .member-image {
      display: block;
      max-width: 100%;
      border-radius: 50%;
      border: 3px solid #f2dd2a; }
    .landing-container > .member-container > .member-name {
      text-align: center;
      color: white;
      font-size: 25px; }
  .landing-container > .content {
    width: 70%;
    font-size: 25px;
    margin: 10px auto;
    text-align: center;
    text-shadow: 0px 1px 1px #ffebee; }
  .landing-container hr {
    width: 70%;
    background: white;
    height: 1px; }

.container-div {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  background: #1a1919;
  padding: 40px;
  line-height: 25.6px; }
  .container-div > .bar {
    background: #f2dd2a;
    width: 70%;
    height: 5px;
    margin: 0 auto 40px auto; }
  .container-div > h1, .container-div h3 {
    text-align: center; }
  .container-div > p {
    margin: 20px auto;
    width: 90%; }
  .container-div > a {
    color: white;
    display: block;
    margin: 0 auto;
    min-width: 15%;
    max-width: 30%;
    text-decoration: none;
    outline: none;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    margin-top: 3%;
    transition: background 0.3s linear; }
    .container-div > a:hover {
      color: black;
      background: white; }
  .container-div > .infographic {
    width: 100%; }
  .container-div > hr {
    width: 70%;
    background: black;
    height: 1px; }
  .container-div h1 {
    margin: 20px 0 30px 0; }

.coin-index {
  display: flex;
  justify-content: space-evenly;
  padding: 3%;
  color: black; }
  .coin-index .index {
    text-align: center;
    flex: 1;
    border-left: 2px solid black; }
    .coin-index .index img {
      display: block;
      margin: 0 auto; }

#bitcoin {
  border-left: none; }

.image-container {
  width: 100%;
  height: auto;
  background: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2% 0 2%;
  justify-content: space-between; }
  .image-container .image {
    border-left: 5px solid #f2dd2a;
    height: 100%;
    min-height: 200px;
    margin: 10px 0 10px 0;
    color: white;
    position: relative;
    flex-basis: 32%;
    background: url("http://breakawayexperiences.com/content/images/thumbs/0005641_london-hot-air-balloon-ride.jpeg");
    background-size: cover;
    background-repeat: no-repeat; }
    .image-container .image h1 {
      margin: 10px; }
    .image-container .image p {
      width: 100%;
      height: 50%;
      padding: 10px;
      margin: 0;
      position: absolute;
      bottom: 0;
      background: linear-gradient(bottom, black, rgba(0, 0, 0, 0));
      background: -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0));
      background: -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)); }
    .image-container .image:before {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      transition: 0.2s linear;
      opacity: 0; }
    .image-container .image:hover:before {
      opacity: 1; }

.footer {
  background: #1a1919;
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  padding: 5%;
  padding-bottom: 1%; }
  .footer hr {
    width: 80%;
    margin-top: 40px; }
  .footer ul {
    flex-basis: 10%;
    list-style: none;
    margin: 10px auto 0 auto;
    padding: 0; }
    .footer ul li {
      display: inline-block;
      margin-left: 30px; }
  .footer .flex-container {
    display: flex;
    justify-content: center;
    flex-basis: 90%; }
    .footer .flex-container div {
      flex-basis: 30%;
      text-align: center;
      border-left: 5px solid #f2dd2a; }
      .footer .flex-container div ul {
        list-style: none;
        padding-left: 0;
        margin: 0; }
        .footer .flex-container div ul li {
          font-family: "Raleway", sans-serif;
          padding: 10px 10px 10px 20px;
          transition: background 0.3s linear;
          display: list-item;
          margin-left: 0; }
          .footer .flex-container div ul li a {
            text-decoration: none;
            color: white;
            transition: color 0.2s linear; }
          .footer .flex-container div ul li i {
            margin-right: 10px; }
          .footer .flex-container div ul li:hover {
            background: #f2dd2a;
            color: black; }
            .footer .flex-container div ul li:hover > a {
              color: black; }

#info {
  background: #f4f4f4;
  color: black; }

@media (max-width: 829px) {
  .image-container {
    flex-direction: column; }
    .image-container .image {
      margin-top: 15px;
      background-position: center;
      width: 100%;
      min-height: 170px;
      border-left: none;
      border-top: 3px solid #f2dd2a; }
      .image-container .image h1 {
        font-size: 30px; }
      .image-container .image p {
        font-size: 14px; }

  .coin-index {
    flex-direction: column; }
    .coin-index .index {
      border-left: none;
      border-top: 1px solid black; }

  .footer hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%; }
  .footer ul {
    margin: 10px; }
    .footer ul li {
      margin: 8px 0 8px 0;
      text-align: center;
      display: list-item; }
  .footer .flex-container {
    flex-direction: column; }
    .footer .flex-container div {
      border-top: 2px solid #f2dd2a;
      border-left: none; }

  .discussion-tab {
    display: none; }

  .container-div {
    padding: 20px; }
    .container-div a {
      white-space: nowrap;
      min-width: none;
      max-width: none;
      width: auto; }
    .container-div .bar {
      width: 90%; }

  .landing-container > p {
    width: 100%;
    font-size: 25px; }

  .infographic > .content {
    width: 90%; } }
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
